.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.ui.card {
  padding: 20px;
}
p > div {
  text-align: center;
  margin: auto;
}
a {
  text-align: center;
}
img {
  max-width: 700px;
  max-height: 700px;
  margin: auto;
}
blockquote {
  text-align: center;
}
.aligncenter {
  text-align: center;
}
.img-wrap {
  text-align: center;
}
img ~ p {
  text-align: center;
}
.wrap{
white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -webkit-pre-wrap; /*Chrome & Safari */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
white-space: normal;
}

.addFeed {
  float:right;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
